/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 mars 2021, 17 h 51 min 46 s
    Author     : louis
*/

html, body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}


body {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Fields.jpg");
    font-family: sans-serif;
}
div.WrittenWork {
    border-radius: 20px;
    background-color: beige;
    opacity: 0.8;
    border: 1vh outset black;
    width: 58vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 50px;
    margin-top: 70px;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-bottom: 50px;
    min-height: 500px;
    height: 100%;
}

@media only screen and (max-device-width: 600px) {
    div.WrittenWork {
        width: 78vw;
        margin-left: 8vw;
        margin-right: 8vw;
    }
}

p.homeText {
    text-align: justify;
    font-size: large;
}

h1.greatHeader{
    text-align: center;
}

div.scrollmenu {
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}